/* Add CSS Styling */

* {
  font-size: 24px;
  }

p {
  color: black;
  background-color: pink;
  font-family: 'Arial';
}

.class2 {
  font-size: 36px;
  font-weight: 50%;
}


#secondline {
  color: blue;
  font-size: 40px;
  font-weight: 500;
}

#fourthline {
  font-weight: bolder;
  background-color: green;
}
