body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

body div.card{
  padding-left: 22px;
  padding-right: 22px;
}

.card {
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  margin: 16px auto;
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 24px;
  padding: 10px;
}

.card button,
.card .button-container {
  text-align: center;
  font-size: 24px;
}
.button-container {
  margin: 16px auto;
  background: #e3f4ff;
  padding: 10px;
  font-size: 24px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
